{% load static %}
<!DOCTYPE html>
<html lang="en" class="fullscreen-bg">

<head>
  {%block js%}
  {%endblock js%}
  <title>Login | Klorofil - Free Bootstrap Dashboard Template</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}" />
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
  <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
  <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" />
  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'homepage/css/open-iconic-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'homepage/css/animate.css' %}">

  <link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'homepage/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'homepage/css/magnific-popup.css' %}">

  <link rel="stylesheet" href="{% static 'homepage/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'homepage/css/ionicons.min.css' %}">

  <link rel="stylesheet" href="{% static 'homepage/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'homepage/css/jquery.timepicker.css' %}">


  <link rel="stylesheet" href="{% static 'homepage/css/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'homepage/css/icomoon.css' %}">
  <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/mine.css'%}">
</head>

<body>
  <!-- WRAPPER -->
  <nav class="navbar navbar-expand-sm ftco_navbar  ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class=" navbar-brand title" href="/"
        style="font-size: 2em; color: orange; font-weight: bold; font-family: ubuntu;">Coffee Africa<small
          style="font-size: 13px; color: rgb(255, 255, 255);">built with Blockchain technology</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" style="color: white;"><a href="/" class="nav-link">Home</a></li>
          <!-- <li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li> -->
          <li class="nav-item" style="color: white;"><a href="services.html" class="nav-link">Services</a></li>
          <!-- <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li> -->
          <li class="nav-item" style="color: white;"><a href="about.html" class="nav-link">About</a></li>
          <li class="nav-item" style="color: white;"><a href="contact.html" class="nav-link">Contact</a></li>
          <li class="nav-item cart" style="color: white;"><a href="cart.html" class="nav-link"><span
                class="icon icon-shopping_cart"></span><span
                class="bag d-flex justify-content-center align-items-center"><small>1</small></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</body>

<div class="container col-md-12" style="padding: 5%;">
  <section class="ftco-about d-md-flex col-md-12">
    <div class="one-half img" style="background-image: url({%static 'custom_images/coffee2.jpg'%});"></div>
    <div class="one-half ftco-animate">
      <div class="overlap" style="background-color: rgba(8, 8, 8, 0.7)">
        <div class="heading-section ftco-animate ">
          <span class="subheading">Login To your Account</span>
          <h2 class="title" style="text-transform: capitalize; padding: 0; word-spacing: normal;">Secure</h2>
          <div class="logo text-center">
            <img style="width: 200px; height: auto" src="{% static 'custom_images/coffeelogo.png' %}"
              alt="Klorofil Logo" />
          </div>
          <p class="lead">Login to your account</p>
          <form class="form-auth-small" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="signin-email" class="control-label sr-only">Email</label>
              <input type="email" class="form-control" id="signin-email" placeholder="Email" name="email" />
            </div>
            <div class="form-group">
              <label for="signin-password" class="control-label sr-only">Password</label>
              <input type="password" class="form-control" id="signin-password" placeholder="Password" name="pass" />
            </div>
            <div class="form-group clearfix">
              <label class="fancy-checkbox element-left">
                <input type="checkbox" />
                <span>Remember me</span>
              </label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              LOGIN
            </button>
            <div class="bottom">
              <span class="helper-text"><i class="fa fa-lock"></i>
                <a href="#">Forgot password?</a></span>
            </div>
          </form>
        </div>
      </div>
  </section>
</div>
<script src="{% static 'homepage/js/jquery.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'homepage/js/popper.min.js' %}"></script>
<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'homepage/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'homepage/js/aos.js' %}"></script>
<script src="{% static 'homepage/js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'homepage/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'homepage/js/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'homepage/js/scrollax.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{% static 'homepage/js/google-map.js' %}"></script>
<script src="{% static 'homepage/js/main.js' %}"></script>

</html>